/* app css stylesheet */

body {
  background: darkgreen;
  margin:0;
  padding:0;
  height:100%;
}

.user_info {
  margin: 10px;
  float: right;
}

#footer {
   position:absolute;
   bottom:0;
   width: 100%;
   background: white;
   font-style: italic;
}
