@charset "utf-8";
/* CSS Document */

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  background-color:black;
}


h3{
	text-align:center;
}

.blanc {
	color: white;
}

.nomVillage {
	font-size:xx-large;
	font-weight:bolder;
	text-align:center;
	font-family:"Arial Black", Gadget, sans-serif;
	alignment-adjust:central;
}

div#tableauVillage {
    width: 100%;
	height: 100px;
    background: black;
}

div#tableauAssemblées {
    width: 600px;
	height: 200px;
	float: left; 
	width: 100%;
}

div#tableauBiens {
    float: left;
    width: 200px;
	height: 200px;
    background: lightyellow;
}

div#tableauGuerre {
    float: left;
    width: 200px;
	height: 200px;
    background: pink;
}

div#tableauCulture {
    float: left;
    width: 200px;
	height: 200px;
    background: lightblue;
}

div#tableauTrait {
    float: left;
    width: 600px;
	height: 200px;
    background: gray;
}

div#tableauExpedition {
    float: left;
    width: 600px;
	height: 200px;
    background: lightgreen;
}

div#boutonPlusUneFamilleBiens{
	text-align: center;
}

div#boutonMoinsUneFamilleBiens{
	text-align: center;
}

div#boutonPlusUneFamilleGuerre{
	text-align: center;
}

div#boutonMoinsUneFamilleGuerre{
	text-align: center;
}

div#boutonPlusUneFamilleCulture{
	text-align: center;
}

div#boutonMoinsUneFamilleCulture{
	text-align: center;
}

div#boutonAdoptionTrait{
	text-align: center;
}

div#boutonOubliTrait{
	text-align: center;
}

div#boutonExpedition{
	text-align: center;
}