@charset "utf-8";
/* CSS Document */

body {
  min-height: 100%;
  margin:20px;
  margin-top:100px;
  margin-bottom:0px;
  padding:0px;
  background-color:black;
}

#header{
	position:fixed;
	top:0px;
	height:80px;
	min-width:660px;
	left:0px;
	right:0px;
	border-style:solid;
	border-width:1px;
	border-color:white;
	background-color:black;
	z-index: 9999;
}

.mainBlock{
	margin-bottom:30px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	padding:9px;
	border-style:solid;
	border-width:1px;
	border-color:white;
	height:270px;
	width:660px;
	}
	
.inBlock{
	float:left;
	margin:5px;
	padding:4px;
	border-style:solid;
	border-width:1px;
	border-color:white;
	height:200px;
	width:210px;
	box-sizing: border-box;
}

.inBlockLarge {
	float:left;
	margin:5px;
	padding:30px;
	padding-top:5px;
	border-style:solid;
	border-width:1px;
	border-color:white;
	height:200px;
	width:650px;
	box-sizing: border-box;
}
	
.headerBlock{
	margin:5px;
	padding:4px;
	border-style:solid;
	border-width:1px;
	border-color:white;
	height:40px;
	width:640px;
}

.buttonBlock{
	width:56px;	
	border-style:solid;
	border-width:1px;
	border-color:white;
	height:185px;
	float:left;
	background-color:gray;
}

.buttonBlockSmall{
	width:56px;	
	border-style:solid;
	border-width:1px;
	border-color:white;
	height:136px;
	float:left;
	display:none;
}

p{
	color:white;
}
	
h3{
	color:white;
	text-align:center;
	margin:0px;
	
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
	
h5{
	color:white;
	text-align:center;
	margin:0px;
}

.regularButton{
	color:white;
	width:30px;
	height:30px;
	font-size:7px;
	margin:7px;
	border-width:0px;
    border-radius: 50%;
	float:left;
}

.oisifButton{
	color:white;
	width:30px;
	height:30px;
	font-size:7px;
	margin:8px;
	border-width:0px;
    border-radius: 50%;
	float:left;
}


.buttonBlock:hover .buttonBlockSmall{
	display:block;
}



div#assemblees{
}