<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../css/CinqVillages.css" : />
<title>Cinq Villages</title>
</head>

<body>

<div id="page">

<div id="tableauVillage">
	<div class="blanc nomVillage variable">VILLAGE</div>
</div>

<div id="tableauAssemblées">

<div id="tableauBiens">
	<h3> Assemblée des Biens </h3>
    
	<div id="boutonPlusUneFamilleBiens">
	<input type="button" value="Équiper une Famille"> 
	</div>
    
    <div id="boutonMoinsUneFamilleBiens">
	<input type="button" value="Retirer une Famille"> 
	</div>
</div>

<div id="tableauGuerre">
	<h3> Assemblée de la Guerre </h3>
    
	<div id="boutonPlusUneFamilleGuerre">
	<input type="button" value="Équiper une Famille"> 
	</div>
        
    <div id="boutonMoinsUneFamilleGuerre">
	<input type="button" value="Retirer une Famille"> 
	</div>
</div>

<div id="tableauCulture">
	<h3> Assemblée de la Culture </h3>
	
	<div id="boutonPlusUneFamilleCulture">
	<input type="button" value="Équiper une Famille"> 
	</div>
        
    <div id="boutonMoinsUneFamilleCulture">
	<input type="button" value="Retirer une Famille"> 
	</div>
</div>

</div>

<div id="tableauTrait">
	<h3> Traits Culturels </h3>
    
    <div id="boutonAdoptionTrait">
	<input type="button" value="Adopter un Trait"> 
	</div>
    
    <div id="boutonOubliTrait">
	<input type="button" value="Oublier un Trait"> 
	</div>
    
</div>

<div id="tableauExpedition">
	<h3> Monde Exterieur </h3>
    
    <div id="boutonExpedition">
	<input type="button" value="Organiser une Expédition"> 
	</div>
    
</div>

</div>

</body>
</html>
