<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="../css/CinqVillages.css" : />
<title>Cinq Villages</title>
</head>

<body>

<div id="header">
	<h3>Cinq Villages</h3>
</div>

<div class="mainBlock">

	<div class="headerBlock">
	  <h3>Village</h3>
    </div>
	
    <div class="inBlock">
    	<h5>Messages</h5>
    </div>
    <div class="inBlock">
        <h5>Décisions</h5>
    </div>
    <div class="inBlock">
		<h5>Décisions Prises</h5>
    </div>

</div>

<div id="assemblees" class="mainBlock">

	<div class="headerBlock">
    	<h3>Assemblées</h3>
    </div>
	
    <div class="inBlock">
    	<h5>Assemblée de la Richesse</h5>
        <input type="button" value="Entrainer" class="regularButton"/><br/>
		<input type="button" value="Interrompre" class="regularButton"/><br/>
		<input type="button" value="Renvoyer" class="regularButton"/>
    </div>
    <div class="inBlock">
    	<h5>Assemblée de la Guerre</h5>
        <input type="button" value="Entrainer" class="regularButton"/>
		<input type="button" value="Interrompre" class="regularButton"/>
		<input type="button" value="Renvoyer" class="regularButton"/>
    </div>
    <div class="inBlock">
    	<h5>Assemblée du Savoir</h5>
        <input type="button" value="Entrainer" class="regularButton"/>
		<input type="button" value="Interrompre" class="regularButton"/>
		<input type="button" value="Renvoyer" class="regularButton"/>
    </div>
    
</div>

<div id="traits" class="mainBlock">

	<div class="headerBlock">
    	<h3>Traits</h3>
    </div>

	<div class="inBlock">
		<h5>Traits Acquis</h5>
    </div>
    <div class="inBlock">
    	<h5>Traits Recherchés</h5>
    </div>
    <div class="inBlock">
    	<h5>Traits Disponibles</h5>
    </div>
    
</div>

</body>
</html>
