<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="Village.css" : />
<title>Village</title>
</head>

<body>

<script src="jquery/jquery-2.1.4.min.js"></script>

<div id="interfaceJeu">

  <img src="SVG/villageIcone.svg" id="villageIcone">
  </>

  <p id="leVillageDe">Le village de</>
  <p id="tonVillage">Kentos</>
  <p id="saison">Saison 15</>

  <br/>

  <img src="SVG/richesseIcone.svg" class="icone"></>

  <img src="SVG/savoirIcone.svg" class="icone"></>

  <img src="SVG/guerreIcone.svg" class="icone"></>

  <p id="valeurs">
      <span id="richesseValeur">3</>
      <span id="savoirValeur">2</>
      <span id="guerreValeur">1</>
  </>



<div id="expedition">

  <p class="centrer"></>

  <br/>

  <button class="boutonTrait"><img src="SVG/batir.svg" class="traitOption"></></button>

  <br/>

  <button class="boutonTrait"><img src="SVG/batir.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/recruterRichesse.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/recruterSavoir.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/recruterGuerre.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/Guerroyer.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/batir.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/recruterRichesse.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/recruterSavoir.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/recruterGuerre.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/Guerroyer.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/batir.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/recruterRichesse.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/recruterSavoir.svg" class="traitOption"></></button><!--
--><button class="boutonTrait"><img src="SVG/recruterGuerre.svg" class="traitOption"></></button>




  <textarea placeholder="village" maxlength="15" autofocus id="cible"></textarea>

  <br/>

  <button id="boutonEnvoyer"><img src="SVG/envoyer.svg" id="envoyer"></></button>

  <p id="biens">3</>

</div>

<script>
$( ".boutonTrait" ).click(function() {
  $( this ).toggleClass( "valider" );
});
</script>

<script>
$( "#boutonEnvoyer" ).click(function() {
  $( this ).toggleClass( "valider" );
});
</script>



<div class="messagerie">
  <p class="messageDynamique">
    Les nôtres sont de retour de BENETERRA. <br/>
    Nous y avons bâti une guilde. <br/>
    Nous y avons recruté des guerriers. <br/>
    Nous y avons recruté des sages. <br/>
    Il y avait là-bas des gens de PERCE-CIEL.
  </>
</div>

<div class="messagerie">
  <p class="messageDynamique">
    Les nôtres sont de retour de PERCE-CIEL. <br/>
    Nous y avons guerroyé. <br/>
  </>
</div>

<div class="messagerie">
  <p class="messageDynamique">
    Des Gens sont venus de AACAD. <br/>
    Ils ont recruté de nos guerriers. <br/>
    Ils ont guerroyé avec nous.
  </>
</div>

<div class="messagerie">
  <p class="messageDynamique">
    Des Gens sont venus de PERCE-CIEL. <br/>
    Ils ont été arrétés par nos guerriers.
  </>
</div>


</body>
