<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="Village.css" : />
<title>Village</title>
</head>



<div id="interfaceJeu">

  <img src="SVG/villageIcone.svg" id="villageIcone">
  </>

  <p id="leVillageDe">Le village de</>
  <p id="tonVillage">Kentos</>
  <p id="saison">Saison 15</>

  <br/>

  <img src="SVG/richesseIcone.svg" class="icone"></>

  <img src="SVG/savoirIcone.svg" class="icone"></>

  <img src="SVG/guerreIcone.svg" class="icone"></>

  <p id="valeurs">
      <span id="richesseValeur">3</>
      <span id="savoirValeur">2</>
      <span id="guerreValeur">1</>
  </>



<div id="expedition">

  <p class="centrer"></>

  <br/>

  <img src="SVG/batir.svg" class="traitOption"></>

  <br/>

  <img src="SVG/batir.svg" class="traitOption"></>
  <img src="SVG/recruterRichesse.svg" class="traitOption"></>
  <img src="SVG/recruterSavoir.svg" class="traitOption"></>
  <img src="SVG/recruterGuerre.svg" class="traitOption"></>
  <img src="SVG/Guerroyer.svg" class="traitOption"></>

  <textarea placeholder="village" maxlength="15" autofocus id="cible"></textarea>

  <img src="SVG/envoyer.svg" id="envoyer"></>

  <p id="biens">3</>

</div>

<div class="expeditionResume">

  <img src="SVG/batir.svg" class="traitResume"></>
  <img src="SVG/recruterRichesse.svg" class="traitResume"></>
  <img src="SVG/recruterSavoir.svg" class="traitResume"></>
  <img src="SVG/recruterGuerre.svg" class="traitResume"></>
  <img src="SVG/Guerroyer.svg" class="traitResume"></>

  <p class="villageResume">Beneterra</>

</div>

<div class="expeditionResume">

  <img src="SVG/batir.svg" class="traitResume"></>
  <img src="SVG/recruterRichesse.svg" class="traitResume"></>
  <img src="SVG/recruterSavoir.svg" class="traitResume"></>
  <img src="SVG/recruterGuerre.svg" class="traitResume"></>
  <img src="SVG/Guerroyer.svg" class="traitResume"></>

  <p class="villageResume">Beneterra</>

</div>

<div class="expeditionResume">

  <img src="SVG/batir.svg" class="traitResume"></>
  <img src="SVG/recruterRichesse.svg" class="traitResume"></>
  <img src="SVG/recruterSavoir.svg" class="traitResume"></>
  <img src="SVG/recruterGuerre.svg" class="traitResume"></>
  <img src="SVG/Guerroyer.svg" class="traitResume"></>

  <p class="villageResume">Beneterra</>

</div>

<div class="expeditionResume">

  <img src="SVG/batir.svg" class="traitResume"></>
  <img src="SVG/recruterRichesse.svg" class="traitResume"></>
  <img src="SVG/recruterSavoir.svg" class="traitResume"></>
  <img src="SVG/recruterGuerre.svg" class="traitResume"></>
  <img src="SVG/Guerroyer.svg" class="traitResume"></>

  <p class="villageResume">Beneterra</>

</div>

<div class="expeditionResume">

  <img src="SVG/batir.svg" class="traitResume"></>
  <img src="SVG/recruterRichesse.svg" class="traitResume"></>
  <img src="SVG/recruterSavoir.svg" class="traitResume"></>
  <img src="SVG/recruterGuerre.svg" class="traitResume"></>
  <img src="SVG/Guerroyer.svg" class="traitResume"></>

  <p class="villageResume">Beneterra</>

</div>

<div class="expeditionResume">

  <img src="SVG/batir.svg" class="traitResume"></>
  <img src="SVG/recruterRichesse.svg" class="traitResume"></>
  <img src="SVG/recruterSavoir.svg" class="traitResume"></>
  <img src="SVG/recruterGuerre.svg" class="traitResume"></>
  <img src="SVG/Guerroyer.svg" class="traitResume"></>

  <p class="villageResume">Beneterra</>

</div>

<div class="expeditionResume">

  <img src="SVG/batir.svg" class="traitResume"></>
  <img src="SVG/recruterRichesse.svg" class="traitResume"></>
  <img src="SVG/recruterSavoir.svg" class="traitResume"></>
  <img src="SVG/recruterGuerre.svg" class="traitResume"></>
  <img src="SVG/Guerroyer.svg" class="traitResume"></>

  <p class="villageResume">Beneterra</>

</div>

<div class="expeditionResume">

  <img src="SVG/batir.svg" class="traitResume"></>
  <img src="SVG/recruterRichesse.svg" class="traitResume"></>
  <img src="SVG/recruterSavoir.svg" class="traitResume"></>
  <img src="SVG/recruterGuerre.svg" class="traitResume"></>
  <img src="SVG/Guerroyer.svg" class="traitResume"></>

  <p class="villageResume">Beneterra</>

</div>

<div class="expeditionResume">

  <img src="SVG/batir.svg" class="traitResume"></>
  <img src="SVG/recruterRichesse.svg" class="traitResume"></>
  <img src="SVG/recruterSavoir.svg" class="traitResume"></>
  <img src="SVG/recruterGuerre.svg" class="traitResume"></>
  <img src="SVG/Guerroyer.svg" class="traitResume"></>

  <p class="villageResume">Beneterra</>

</div>

<div class="expeditionResume">

  <img src="SVG/batir.svg" class="traitResume"></>
  <img src="SVG/recruterRichesse.svg" class="traitResume"></>
  <img src="SVG/recruterSavoir.svg" class="traitResume"></>
  <img src="SVG/recruterGuerre.svg" class="traitResume"></>
  <img src="SVG/Guerroyer.svg" class="traitResume"></>

  <p class="villageResume">Beneterra</>

</div>



<div id="messagerie">


  <img src="SVG/precedent.svg" id="precedentIcone"></>


  <img src="SVG/suivant.svg" id="suivantIcone"></>

  <p class="saisonMessage">
    Saison 15
  </>

  <p class="villageMessage">
    Aacad
  </>

  <br/>

  <img src="SVG/batir.svg" class="traitMessage"></>
  <img src="SVG/recruterRichesse.svg" class="traitMessage"></>
  <img src="SVG/recruterSavoir.svg" class="traitMessage"></>
  <img src="SVG/recruterGuerre.svg" class="traitMessage"></>
  <img src="SVG/Guerroyer.svg" class="traitMessage"></>


  <p class="messageDynamique">
    L'expédition vers Kentos s’est déroulée à merveille.
    Nos envoyés sont parvenus à bâtir un avant-poste pour recruter régulièrement des sages et des guerriers Kentiens.
    Nous avons rencontré des envoyés des villages de VALUS, HUMBRO et SAND'HOC
    Nous avons aussi renouvellé notre connaissance de la culture de Kentos.
  </>

  <img src="SVG/batir.svg" class="traitAcquis"></>

</div>





</div>
